
.aboutPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Ensures the content is centered vertically */
  }
  

.userInfoSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userInfoSection .usericonSection{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:15px;
    cursor: pointer;
}


.userInfoSection h6{
    font-size: 20px;
    font-weight: bold;
}
.userInfoSection h6  span{
    margin-left: 5px;
    color: red;
}